body {
	font-family: Raleway, sans-serif;
}

@media screen and (min-width: 60rem) {
	body {
		width: 960px;
		margin-right: auto;
		margin-left: auto;
	}
}

/* common styles */
hr {
	max-width: 960px;
	width: 100%;
	border: solid thin;
	margin-left: 0px;
}

img {
	width: 100%;
}

hr.star-bright {
	border-color: #fff;
}

#main-container {
	margin-bottom: 3.5em;
	padding: 1em;
	background-color: #f1f1f1;
}

.firm {
	color: #f4b408;
}

.section-heading {
	font-family: "Maven Pro", sans-serif;
	font-weight: lighter;
	letter-spacing: 0.2rem;
	text-align: center;
}

#project-container, #header, #about-body {
	max-width: 960px;
	width: 100%;
	display: flex;
	flex-wrap: wrap;
}

/* Styles for header */
header img {
	border-radius: 50%;
}

#profile {
	width: calc((100% * 3)/4);
	text-align: right;
	text-transform: uppercase;
}

#logo {
	width: calc((100%)/4);
	text-align: left;
}

#logo img {
	width: 100px;
	max-width: 100%;
	height: 100%;
}

#profile-name p {
	font-size: 1.5em;
	margin: 10px 0;
}

#profile-title p {
	font-size: 0.8em;
	margin-top: 10px;
}

@media screen and (min-width: 30rem) {
	#profile {
		line-height: 2;
		letter-spacing: 0.2rem;
	}
}

/* Styles for navigation menu */
.navbar {
	background: rgba(0, 0, 0, 0.65) !important;
	width: 100% ;
	margin-right: auto;
	margin-left: auto;
	}

@media screen and (max-width: 30rem) {
	.navbar {
		width: 40vw;
		left: 55vw; } }

.navbar .nav-link {
	color: white !important;
	font-weight: bold;
	text-transform: lowercase;
	transition-property: all;
	transition-duration: 0.5s; }

.navbar .nav-link:hover {
	transform: scale(1.08); }

/* Styles for featured work */

.projects {
	font-family: "Maven Pro", sans-serif;
	border: outset thin;
	height : 300px;
	transition-duration: 0.5s;
	box-shadow: 2px 2px 20px 2px #000;
	text-align: center;
	width: calc((100% - 110px)/3);
	padding: 10px;
	margin: 0px 20px 20px 0px;
}

.projects:hover {
	box-shadow: 0 8px 10px 0 rgba(255, 255, 255, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19);
}

.project-image {
	height: calc((100% * 3)/4);
}

.project-image img {
	height: 100%;
}

.project-body {
	height: calc((100%)/4);
	font-weight: lighter;
}

.project-body a {
	color: black;
	font-family: "Baloo", Helvetica, Arial, sans-serif;
	letter-spacing: 0.1rem;
	font-weight: lighter;
	text-decoration: none;
}

.project-body a:hover {
	text-decoration: underline;
}

.project-title {
	text-transform: uppercase;
}

.projects:last-of-type {
	margin-right: 0px;
}

@media screen and (min-width: 60rem) {
	.projects:nth-of-type(3n) {
		margin: 0px 0px 20px 0px;
	}
}

@media screen and (max-width: 60rem) {
	.projects {
		width: calc((100% - 70px)/2);
		margin: 0px 20px 20px 0px;
	}

	.project-body p{
		margin: 0.5em 0;
	}

	.projects:nth-of-type(2n) {
		margin: 0px 0px 20px 0px;
	}
}

@media screen and (max-width: 30rem) {
	.projects {
		width: 100%;
		margin: 0px 0px 30px 0px;
	}

	.projects:last-of-type {
		margin-bottom: 0px;
	}

	.come-2x-1x {
	  animation: come-2x-1x 0.4s ease forwards; }

	.come-0x-1x {
	  animation: come-0x-1x 0.4s ease forwards; }

	.go-out {
	  animation: go-out 0.4s ease forwards; }

	.come-2x {
	  animation: come-2x 0.4s ease forwards; }
}


/* Styles for header about section */
.about-container {
    position: relative;
    text-align: center;
}

.centered {
	color: #f2f2f2;
	letter-spacing: 0.1rem;
	font-family: "Baloo", Helvetica, Arial, sans-serif;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#about-body {
	border-radius: 20px;
	background-color: rgba(0, 5, 5, 0.45);
}

#about-body p {
	margin: 2px auto;
}

#about-section img {
	max-height: 60vh;
}

@media screen and (min-width: 60rem) {
	#about-body p {
		font-size: 1.3em;
	}
}

@media screen and (max-width: 60rem) {
	#about-body p {
		font-size: 1em;
	}
}

@media screen and (max-width: 30rem) {
	#about-section img {
		min-height: 40vh;
	}

	#about-body p {
		margin: 0 10px;
	}
}

.social {
	padding: 0 20px;
	display: flex;
	margin-left: auto;
	margin-right: auto;
}

.social h2{
	width: 100%;
}

.social a {
	text-align: center;
	color: black;
	width: 25%;
}

.social .fa {
  transition: all 0.3s cubic-bezier(0.22, 0.61, 0.36, 1); }

.social .fa:hover {
  transform: scale(1.4); }

@media screen and (min-width: 30rem) {
	.social {
		width: 20rem;
	}
}

@keyframes come-2x {
  from {
	transform: scale(0.9);
	}
  to {
    transform: scale(1.02);
    box-shadow: 0 8px 10px 0 rgba(255, 255, 255, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19);
    } }

@keyframes come-2x-1x {
  from {
	transform: scale(1.02);
	}
  to {
    transform: scale(0.9);} }

@keyframes come-0x-1x {
  from {
	transform: translateX(-100%) scale(0.8);
	}
  to {
    transform: translateX(0px) scale(0.9);} }

@keyframes go-out {
  from {
    transform: scale(0.9); }
  to {
    transform: translateX(-100%) scale(0.8); } }
